@model System.Collections.Generic.List<Shopping_Cart.ViewModels.CategoryViewModel>
@{
    var selectedCategoryId = ViewBag.SelectedCategoryId;
}
<div class="list-group">
    <h4 class="list-group-item-heading">Categorias</h4>
    @foreach (var category in Model)
    {
        <a href="@Url.Action("Index", "Books", new {categoryId=category.Id})"
           class="list-group-item @if (selectedCategoryId == category.Id) {
               @Html.Raw("active")}">@category.Name</a>
    }
</div>
