@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>Brechó Bibliotecário Eletrônico</h1>
    <p class="lead">Tudo com o menor preço</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

@Html.Action("Featured", "Books")