@using Shopping_Cart.Extensions
@model Shopping_Cart.ViewModels.CartViewModel
<a id="cart" href="@Url.Action("Index", "Carts")" data-bind="click: showCart">
    <span class ="glyphicon glyphicon-shopping-cart"></span>
    <span class="badge" data-bind="text: cart.cartItems().length"></span>
</a>
<div id="cart-summary" style="display: none">
    <span data-bind="visible: cart.cartItems().length==0">
        O carrinho está vazio
    </span>
    <div data-bind="visible: cart.cartItems().length > 0">
        <ul>
            <!--ko foreach: {data: cart.cartItems, afterAdd: fadeIn}-->
            <li data-bind="text: book.title"></li>
            <!-- /ko -->
        </ul>
        <p><strong>Total:</strong>$<span data-bind="text: cart.total"></span></p>
        <br/><a href="@Url.Action("Index", "Carts")" class="btn btn-primary">
            Ver detalhes
        </a>
    </div>
</div>
<script>
    var cartSummaryData = @Html.HtmlConvertToJson(Model);
</script>